/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * ibm-plex-mono:
 *   - http://typekit.com/eulas/00000000000000007735944d
 *   - http://typekit.com/eulas/00000000000000007735946a
 * rival-sans:
 *   - http://typekit.com/eulas/00000000000000007735aa06
 *   - http://typekit.com/eulas/00000000000000007735aa19
 *   - http://typekit.com/eulas/00000000000000007735aa1c
 *   - http://typekit.com/eulas/00000000000000007735aa1f
 *   - http://typekit.com/eulas/00000000000000007735aa31
 *   - http://typekit.com/eulas/00000000000000007735aa34
 *   - http://typekit.com/eulas/00000000000000007735aa36
 *   - http://typekit.com/eulas/00000000000000007735aa38
 *
 * © 2009-2026 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2024-10-15 19:56:54 UTC"}*/

@font-face {
font-family:"rival-sans";
src:url("font-files/rival-sans-n1.woff2") format("woff2");
font-display:auto;font-style:normal;font-weight:100;font-stretch:normal;
}

@font-face {
font-family:"rival-sans";
src:url("font-files/rival-sans-i7.woff2") format("woff2");
font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"rival-sans";
src:url("font-files/rival-sans-n7.woff2") format("woff2");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"rival-sans";
src:url("font-files/rival-sans-n3.woff2") format("woff2");
font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"rival-sans";
src:url("font-files/rival-sans-i4.woff2") format("woff2");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"rival-sans";
src:url("font-files/rival-sans-n4.woff2") format("woff2");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"rival-sans";
src:url("font-files/rival-sans-i3.woff2") format("woff2");
font-display:auto;font-style:italic;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"rival-sans";
src:url("font-files/rival-sans-i1.woff2") format("woff2");
font-display:auto;font-style:italic;font-weight:100;font-stretch:normal;
}

@font-face {
font-family:"ibm-plex-mono";
src:url("font-files/ibm-plex-mono-n4.woff2") format("woff2");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"ibm-plex-mono";
src:url("font-files/ibm-plex-mono-n8.woff2") format("woff2");
font-display:auto;font-style:normal;font-weight:800;font-stretch:normal;
}

.tk-rival-sans { font-family: "rival-sans",sans-serif; }
.tk-ibm-plex-mono { font-family: "ibm-plex-mono",sans-serif; }
